.out_page {
  margin-top: 20px;
  width: 100%;
}
#page_navigation {
  width: 200px;
  margin: 0 auto;
}

#page_navigation a {
  margin: 0 auto;
  background: rgb(53, 112, 223);
  padding: 10px;
  border: none;
  border-radius: 100%;
  margin: 2px;
  color: #000;
  text-decoration: none;
}
#page_navigation a:hover {
  background: rgb(49, 90, 224);
}
.active_page {
  background: rgb(33, 228, 179);
  color: rgb(15, 14, 14) !important;
}

.topnav {
  overflow: hidden;
}

.topnav h1 {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
