/* form */
.login-box {
  width: 100%;
  height: 450px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  padding: 30px 30px 0px 30px;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: #e9e5df;
  outline: none;
  height: 83px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="button"] {
  border: none;
  align-items: center;
  height: 40px;
  background: #f4a460;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  width: 48%;
  margin-left: 25%;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

::placeholder {
  padding-left: 10px;
}
